<div id="game">
	<img id="gameBackgroundCache">
	<div id="tabletContainer">
        <div id="tabletBezelPlaceholder"></div>
    	<div id="gameContainer"></div>
    	<div class="menu-container">
    		<div class="menu-button menu-settings"></div>
    		<div class="menu-button menu-history"></div>
    		<div class="menu-button menu-scan"></div>
    		<div class="menu-button menu-repository">
                <div class="repo-drop-target"></div>
                <div class="repo-button-target"></div>
            </div>
    	</div>
    </div>
</div>