<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no,width=device-width" />
    <title>Password?</title>
    
    <style>
        body {
            padding: 20px;
        }

        #passwordSection {
            padding: 10px 0px;
        }

        input {
            padding: 5px;
        }
    </style>

</head>
<body>
    <form method="post">
        <input type="hidden" name="username" value="user"/>
        <div id="passwordSection">
            <label>Have a password?</label>
            <input type="password" name="password"/>
        </div>
        <div>
            <input id="submitPassword" type="submit" value="Log In"/>
        </div>
    </form>
</body>
</html>
